<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://avatars.githubusercontent.com/u/9999765?s=460&amp;u=3b72ee9a0bcb877f338132adf0c43e2b2e9f3df7&amp;v=4"
    />
    <style>
      .__dumi-default-device-status {
        background-color: #fff;
      }
      #root .__dumi-default-mobile-demo-layout {
        min-height: 100vh;
        background-color: #f7f8fa;
      }
      @media only screen and (max-width: 500px) {
        .__dumi-default-mobile-demo-layout {
          padding: 0 !important;
        }
      }
    </style>
    <link rel="stylesheet" href="/xant/umi.6e987ea7.css" />
    <script>
      window.routerBase = "/xant/";
    </script>
    <script>
      //! umi version: 3.5.13
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.includes(e) ? e : r[0]
        );
      })();
    </script>
    <title>Image 图片</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/xant/umi.a29a5b82.js"></script>
  </body>
</html>
